body{
	font-family: arial;
	color: #73736e;
}
.top1{
	color: #ffa41b;
}
.top{
	color: #ffa41b;
	font-size: 40px;
}
.text{
	display: inline-block;
	font-size:30px;
	color: #010a43;
}
.text1{
	display: inline;
	margin-left:400px;
}
.col{
	display: inline;
	color:#ffa41b;
    text-decoration:bold;
}
.hir{
	background-color:#ffa41b;
	border-radius: 19px;
	color:white;
	display:inline;
	font-size:20px;
	text-align: center;
	cursor: pointer;
	transition-duration: 0.4s;
	padding: 8px 8px;
}
.hir:hover{
	background-color:#ffa372;
}
.ag{
	line-height: 10px;
	margin-left: 40px;
}
.hi3{
	color:#73736e;
}
.hi{
	color: #010a43;
	font-size: 27px;
}
.hi1{
	color: #010a43;
	margin-left: 600px;
}
.hi2{
	color: #73736e;
	margin-left: 600px;
}
.man{
	margin-left: 100px;
}
.img3{
	margin-left: 100px;
}
.blue{
	color: #010a43;
	font-size: 20px;
	line-height: 10px;
}
.work{
	color:#73736e;
    margin-left: 200px;
}
.hi5{
	color:#73736e;
	font-size: 20px;
}
.logo{
	margin-left: 80px;
}
.mid{
	display: inline;
	color:#73736e;
	font-size: 20px;
}
.cho{
	color: #010a43;
	margin-left: 120px;
	font-size: 30px;
	display: inline;
}
.mid1{
	margin-left: 600px;
}
.mid2{
	margin-left: 600px;
	font-size: 20px;
}
.iimg{
	margin-left: 600px;
	display: inline;
}
.flex-container{
	display: flex;
	justify-content: center;
}
.flex-container > div{
		width: 20%;
	line-height: 39px;
}
.box-2{
	border:3px #ffa41b dashed;
}
.box-1{
	color:#010a43;
	font-size: 25px;
}
.box-21
{
	color:#ffa41b;
	font-size: 25px;
}
.rs{
    color:#ffa41b;
    font-size: 35px;
    display: inline;
}
.inline{
	display: inline;
	color:#010a43;
}
ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: #ffa41b;
  font-weight: bold;
  display: inline-block; 
  width: 2em;
  margin-left: -1em;
}
.margin{
	margin-left: 59px;
}
.img8{
	margin-left: 60px;
	border-radius: 17%;
}
.end1{
	margin-left: 750px;
}
input[type=text]
{
	width: 35%;
	border-radius: 15px;
	padding: 12px 20px;
	font-size: 19px;
	display: inline;
	margin: 10px;
}
input[type=email]
{
	width: 80%;
	border-radius: 15px;
	padding: 12px 20px;
	font-size: 19px;
	display: inline;
	margin: 10px;
	box-sizing: border-box;
	border: 2px #ffa41b solid;
}
textarea{
	width: 80%;
	height: 150px;
	border-radius: 10px;
	padding:12px 20px;
	font-size: 19px;
	display: inline;
	margin: 10px;
	box-sizing: border-box;
	resize: none;
}
.flex-container1{
	display: flex;
	justify-content: center;
}
.flex-container1 > div{
		width: 20%;
	line-height: 30px;
}
.last{
	color:#010a43;
}
.last1{
	color:#ffa41b;
}
.final{
	text-align: center;
	color:#010a43;
}